<div class="depot_form">
  <%= form_for(@customer) do |f| %>

    <!-- Shows alert message, if any. -->
    <% if flash[:alert] %>
      <p id="notice"><%= flash[:alert] %></p>
    <% end %>

    <!-- Shows error message, if any. -->
    <% if @customer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

        <ul>
          <% @customer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset>
      <legend>Enter Your Details</legend>
      <div class="field">
        <%= f.label :email, 'Email:' %>
        <%= f.text_field :email, size: 40 %>
      </div>
      <div class="field">
        <%= f.label :firstname, 'First Name:' %>
        <%= f.text_field :firstname, size: 40 %>
      </div>
      <div class="field">
        <%= f.label :lastname, 'Last Name:' %>
        <%= f.text_field :lastname, size: 40 %>
      </div>
      <% if params[:action] == 'edit' || params[:action] == 'update' %>
        <div class="field">
          <%= f.label :current_password, 'Current password:' %>
          <%= f.password_field :current_password, size: 40 %>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :password, 'New password:' %>
        <%= f.password_field :password, size: 40 %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, 'Confirm password:' %>
        <%= f.password_field :password_confirmation, size: 40 %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    </fieldset>
  <% end %>
</div>