<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<h1>My Details</h1>
<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>
<p>
  <strong>First Name:</strong>
  <%= @customer.firstname %>
</p>
<p>
  <strong>Last Name:</strong>
  <%= @customer.lastname %>
</p>
<br>
<%= link_to 'Edit details', edit_customer_path(@customer) %>
