<%= form_for(@order) do |f| %>

  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @order.errors.count,
                   model: t('activerecord.models.order')) %>.</h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%=raw message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <div class="order_title_label">Order Summary</div>
  </div>
  <div class="field">
    <div class="order_label">Order No:</div>
    <div class="order_detail"><%= @order.order_no %></div>
    <%= f.hidden_field :order_no, { value: @order.order_no } %>
  </div>
  <div class="field">
    <div class="order_label">Customer ID:</div>
    <div class="order_detail"><%= @order.customer_id %></div>
    <%= f.hidden_field :customer_id, { value: @order.customer_id } %>
  </div>
  <div class="field">
    <div class="order_label">Full Name:</div>
    <div class="order_detail">
      <%= "#{@order.customer.firstname} #{@order.customer.lastname}" %>
    </div>
  </div>
  <div class="field">
    <div class="order_label">E-mail:</div>
    <div class="order_detail"><%= @order.customer.email %></div>
    <%= f.hidden_field :email, { value: @order.customer.email } %>
  </div>
  <div class="field">
    <div class="order_label">Total:</div>
    <div class="order_detail"><%= @order.total %></div>
    <%= f.hidden_field :total, { value: @order.total } %>
  </div>
  <div class="field">
    <div class="order_title_label">Additional Details</div>
  </div>
  <div class="field">
    <%= f.label :address, t('.address_html') %><br>
    <%= f.text_area :address, rows: 3, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :pay_type, t('.pay_type') %><br>
    <%= f.select :pay_type,
                 options_for_select([[t('.credit_card_option_html'), Order::PAYMENT_TYPES[1]]]),
                     prompt: t('.pay_prompt_html') %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>
