<%= form_for(@order) do |f| %>

  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%=raw t('errors.template.header', count: @order.errors.count,
                   model: t('activerecord.models.order')) %>.</h2>
      <p><%= t('errors.template.body') %></p>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%=raw message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="order_label"><strong>Order No.</strong></div>
    <div class="order_detail"><%= @order.order_no %></div>
    <%= f.hidden_field :order_no, { value: @order.order_no } %>
  </div>
  <div class="field">
    <div class="order_label"><strong>Customer ID</strong></div>
    <div class="order_detail"><%= @order.customer_id %></div>
    <%= f.hidden_field :customer_id, { value: @order.customer_id } %>
  </div>
  <div class="field">
    <%= f.label :name, t('.name') %><br>
    <%= f.text_field :name, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :address, t('.address_html') %><br>
    <%= f.text_area :address, rows: 3, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :email, t('.email') %><br>
    <%= f.email_field :email, size: 40 %>
  </div>
  <div class="field">
    <%= f.label :pay_type, t('.pay_type') %><br>
    <%= f.select :pay_type,
                 options_for_select([[t('.check_option'), Order::PAYMENT_TYPES[0]],
                                     [t('.credit_card_option_html'), Order::PAYMENT_TYPES[1]],
                                     [t('.purchase_order_option'), Order::PAYMENT_TYPES[2]]]),
                     prompt: t('.pay_prompt_html') %>
  </div>
  <div class="actions">
    <%= f.submit t('.submit') %>
  </div>
<% end %>
